p {
  color: rgb(0, 213, 255);   /* Property: color; Value: blue */
  font-size: 16px; /* Property: font-size; Value: 16px */
}

h1 {
  color: rgba(0, 0, 139, 0.866);
  font-size: 36px;
  font-family: 'Arial', sans-serif;
  text-align: center;  
}

  body {
  background-color: rgba(120, 67, 67, 0.668);
}

div {
  width: 400px;
  padding: 40px;
  border: 6px solid rgb(0, 0, 0);
  margin: 30px;
}

p {
  padding: 15px;
  margin: 10px 5px;
  background-color: rgba(211, 211, 211, 0.793);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;}

p {
  text-align: center;
} 
